.restaurant-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  width: 100%;
}
.restaurant-list-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 768px) {
  .restaurants-list {
      display: flex;
    justify-content: center;
  }
}

.select-para {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #64748b;
}

.sort-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .sort-container {
    justify-content: flex-end;
  }
}

.sort-para {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
}

.select-options {
  outline: none;
  border: none;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
  cursor: pointer;
}

.option {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #475569;
}
.hr-line {
  width: 100%;
  border: 1px dashed #cbd2d9;
}

.pagination-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.pagination-button {
  width: 32px;
  height: 32px;
  border: 1px solid #334155;
  box-sizing: border-box;
  margin-left: 10px;
  margin-right: 10px;
}

.page-count {
  font-family: Bree Serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  color: #334155;
  margin-left: 5px;
  margin-right: 5px;
}
